@import url("observablehq:default.css");
@import url("observablehq:theme-midnight.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap');

:root {
  --monospace: "Fira Code", monospace;
  --monospace-font: 12px/1.5 var(--monospace);
  --serif: "Manrope", sans-serif;
  --sans-serif: "Manrope", sans-serif;
  --theme-background: #142933;
  --theme-background-alt: #0B1A1F;
  --theme-foreground-faintest: #283d46;
  --theme-foreground-focus: white;
}

body {
  font: 14pt var(--serif);
  margin: 0;
}

pre,
code,
tt {
  font-family: var(--monospace);
  font-size: 14pt;
}

h1 {
  width: 100%;
}

.cve-id {
  font-weight: 700
}

.vulncheck-xdb {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  /* Corresponds to 'font-medium' */
  border-radius: 0.375rem;
  /* Corresponds to 'rounded-md' */
  font-size: 0.75rem;
  /* Corresponds to 'text-xs' */
  padding-left: 0.375rem;
  /* Corresponds to 'px-1.5' */
  padding-right: 0.375rem;
  /* Corresponds to 'px-1.5' */
  padding-top: 0.125rem;
  /* Corresponds to 'py-0.5' */
  padding-bottom: 0.125rem;
  /* Corresponds to 'py-0.5' */
  background-color: #ecfdf5;
  /* Corresponds to 'bg-emerald-50' */
  color: #10b981;
  /* Corresponds to 'text-emerald-500' */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .vulncheck-xdb {
    background-color: rgba(16, 185, 129, 0.1);
    /* Corresponds to 'dark:bg-emerald-400 dark:bg-opacity-10' */
    color: #34d399;
    /* Corresponds to 'dark:text-emerald-400' */
  }
}

#verse {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: move;
}